
@model IEnumerable<CrudDatatable.ViewModels.EmployeeVM>
@{
    ViewBag.Title = "Home Page";
}

<div id="MyModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="MyModalContent"></div>
        </div>
    </div>
</div>
<br />
<p>
    @Html.ActionLink("ADD Employee", "Create", null, null, new { data_modal = "", id = "btnCreate", @class = "btn btn-primary" })
</p>

<div>
    <table id="tblEmployees" class="table table-striped table-hover table-bordered table-responsive">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Salary</th>
                <th>DOJ</th>
                <th>Dept Name</th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Salary</th>
                <th>DOJ</th>
                <th>Dept Name</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>
<style>
    /*Buttons to Right Side*/
    div.dt-buttons {
        float: right;
        position: relative;
        margin-left: 10px;
    }
    /*Table Info to right*/
    div.dataTables_wrapper div.dataTables_info {
        float: left;
        padding-top: 8px;
        white-space: nowrap;
    }
</style>
@section Scripts{
    <script>
        var table;
        $(document).ready(function () {
            $('#tblEmployees tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input class="FClass" style="width:inherit;" type="text" id="' + title.replace(' ', '_') + '" placeholder="Search ' + title + '" />');
            });

            table = $('#tblEmployees').DataTable({
                "ordering": true,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "pagingType": "full_numbers",
                "scrollY": "300px",
                "scrollX": true,
                "dom": 'Blrtip', // Hides Default Search

                "processing": true,
                "serverSide": true,
                "orderMulti": false,

                "ajax": {
                    "url": "/Home/getEmployee",
                    "type": "POST",
                    "datatype": "json"
                },
                //buttons: ['copyHtml5', 'excelHtml5', 'csvHtml5', 'pdfHtml5', 'print'],
                buttons: [
                            {
                                extend: 'copyHtml5',
                                text: '<i class="fa fa-files-o"></i>',
                                titleAttr: 'Copy'
                            },
                            {
                                extend: 'excelHtml5',
                                text: '<i class="fa fa-file-excel-o"></i>',
                                titleAttr: 'Excel',
                                title: 'Sample Excel Title',
                                message: 'This is a Excel Sample Message',
                                customize: function (xlsx) {
                                    var sheet = xlsx.xl.worksheets['sheet1.xml'];

                                    //$('row c[r^="C"]', sheet).attr('s', '2');//Bold All rows of a column
                                    $('row c[r*="3"]', sheet).attr('s', '25');
                                }
                            },
                            {
                                extend: 'csvHtml5',
                                text: '<i class="fa fa-file-text-o"></i>',
                                titleAttr: 'CSV',
                                title: 'Sample CSV Title',
                                message: 'This is a CSV Sample Message'
                            },
                            {
                                extend: 'pdfHtml5',
                                text: '<i class="fa fa-file-pdf-o"></i>',
                                titleAttr: 'PDF',
                                title: 'Sample PDF Title',
                                message: 'This is a PDF Sample Message'
                            },
                            {
                                extend: 'print',
                                text: '<i class="fa fa-print"></i>',
                                titleAttr: 'PRINT',
                                title: 'Sample Print Title',
                                message: 'This is a Print Sample Message'
                            }
                ],
                //buttons: ['copy', 'excel', 'csv', 'pdf', 'print'],
                //buttons: [
                //            {
                //                extend: 'copy',
                //                text: '<i class="fa fa-files-o"></i>',
                //                titleAttr: 'Copy'
                //            },
                //            {
                //                extend: 'excel',
                //                text: '<i class="fa fa-file-excel-o"></i>',
                //                titleAttr: 'Excel'
                //            },
                //            {
                //                extend: 'csv',
                //                text: '<i class="fa fa-file-text-o"></i>',
                //                titleAttr: 'CSV'
                //            },
                //            {
                //                extend: 'pdf',
                //                text: '<i class="fa fa-file-pdf-o"></i>',
                //                titleAttr: 'PDF'
                //            },
                //            {
                //                extend: 'print',
                //                text: '<i class="fa fa-print"></i>',
                //                titleAttr: 'PRINT',
                //                title: 'Sample Title',
                //                message:'This is a Sample Message'
                //            }
                //        ],
                "aoColumns": [
                    { "data": "FirstName", "autoWidth": true },
                    { "data": "LastName", "autoWidth": true },
                    { "data": "Gender", "autoWidth": true },
                    { "data": "Salary", "autoWidth": true },
                    {
                        "data": "DOJ",
                        "name": "DOJ",
                        "render": function (data, type, full) {
                            var data1 = data.replace("/Date(", "").replace(")/", "");
                            var date = new Date(parseInt(data1));
                            var month = date.getMonth() + 1;
                            return date.getDate() + "-" + (month.toString().length > 1 ? month : "0" + month) + "-" + date.getFullYear();
                        },
                        "autoWidth": true
                    },
                    { "data": "DeptName", "autoWidth": true },
                    {
                        "data": null,
                        "targets": -1,
                        "render": function (data, type, full) {
                            return "<a  onclick='Edit(" + full['ID'] + ")' id='btnEdit" + full['ID'] + "' class='btn btn-success btn-xs'><i class='glyphicon glyphicon-pencil'></i></a>" +
                              " <button onclick='Delete(" + full['ID'] + ")' class='btn btn-danger btn-xs'><i class='glyphicon glyphicon-remove'></i></button>";
                        },
                        "bSearchable": true,
                        "sortable": false,
                        "autoWidth": false,
                        "sWidth": "20px"
                    }
                ]
            });

            table.columns().every(function () {
                var that = this;
                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        });

        var Edit = function (ID) {
            $.ajaxSetup({ cache: false });
            var EditUrl = "/Home/Edit/" + ID;
            $("#MyModalContent").load(EditUrl, function () {
                $("#MyModal").modal({
                    //backdrop: 'static',
                    keyboard: false
                }, 'show');
                bindForm(this);
            });
            return false;
        }

        //#region Delete

        var Delete = function (ID) {
            var Msg = "";
            $.ajax({
                url: "/Home/getEmpDetails",
                type: "GET",
                data: { EmpID: ID },
                success: function (result) {
                    Msg = "Name : <b>" + result[0].Name + "</b>";
                    Msg += "<br/>Gender : " + result[0].Gender;
                    Msg += "<br/>Salary : " + result[0].Sal;
                    Msg += "<br/>DOJ : " + DateFormat(result[0].DOJ);
                    Msg += "<br/>Department Name : " + result[0].DeptName;

                    bootbox.confirm({
                        title: "Sample Title",
                        message: Msg,
                        buttons: {
                            confirm: {
                                label: 'Yes',
                                className: 'btn-success'
                            },
                            cancel: {
                                label: 'No',
                                className: 'btn-danger'
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                deleteConfirmed(ID);
                            }
                        }
                    });

                },
                error: function (error) {
                    console.log(error);
                    alert(error)
                }
            });
        }

        var deleteConfirmed = function (ID) {
            $.ajax({
                url: "/Home/deleteConfirmed",
                type: "GET",
                data: { EmpID: ID },
                success: function (result) {

                    toastr.success(result + ' Deleted Successfully.');
                    table.draw();
                },
                error: function (error) {
                    console.log(error);
                    alert(error)
                }
            });
        }

        function DateFormat(data) {
            var data1 = data.replace("/Date(", "").replace(")/", "");
            var date = new Date(parseInt(data1));
            var month = date.getMonth() + 1;
            return date.getDate() + "-" + (month.toString().length > 1 ? month : "0" + month) + "-" + date.getFullYear();
        }

        //#endregion Delete

        $(document).ready(function () {

            $('#DOJ').datepicker({
                format: 'dd-mm-yyyy',
                //format: 'mm/dd/yyyy',
                autoclose: true,
                clearBtn: true,
                todayHighlight: true,
                //todayBtn: true,
                todayBtn: 'linked',
                orientation: "top left"
            });

        });

    </script>

}